
<%= link_to 'Back to Projects', projects_path %>

<div class="panel panel-default">
  <div class="panel-body">
  Control Panel
  </div>
  <div class="panel-footer">
    <strong>Name: </strong><%= @user.name %><br/> 
    <strong>Email: </strong><%= @user.email %>
  </div>
</div>
 <br>
