// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign-up{
  background-image: url('signin.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.sign-up-form{
  margin:auto;
  margin-top: 8%;
  margin-bottom: 70px;
  width: 300px;
  padding: 50px 30px;
  // background-color: rgba(0, 0, 0, 0.6);
  background-color:#77D9C4;
  opacity: 0.8;
}

.header {

text-align:center;
font-family: 'Muli', sans-serif;
// color:gray;
color:#015249;
}

.panel-footer{
  background-color:#77D9C4;
  opacity: 0.8;


}


#nameemail strong {
    font-size:30px;
      color:#015249;
          font-family: 'Muli', sans-serif;

}

.rew {
  background-color:#77D9C4;
  opacity: 0.8;


}


.pled {
  background-color:#77D9C4;
  opacity: 0.8;

}

.table-user-pledges {
  background-color:#77D9C4;
  opacity: 0.8;

}

th {
  background-color:#77D9C4;
  opacity: 0.8;
  text-align:center;
}

tr {
    text-align:center;
    width:100%;
}
