// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.sign-up{
  background-image: url('signin.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}


.sign-up-form{
  margin:auto;
  margin-top: 8%;
  margin-bottom: 70px;
  width: 300px;
  padding: 50px 30px;
  // background-color: rgba(0, 0, 0, 0.6);
  background-color:#77D9C4;
  opacity: 0.8;
}

.header {

text-align:center;
font-family: 'Muli', sans-serif;
// color:gray;
color:#015249;
}
